@font-face
{
    font-family: LogoFont;
    src: url("fonts/CvltRvneDemoBold-9Rp7.ttf");
}

@font-face
{
    font-family: error-code;
    src: url("fonts/Norse.otf");
}

@keyframes show-nav-bar
{
    from {right: -100vw; opacity: 0;}
    to {right: 0vw; opacity: 1;}
}

@keyframes hide-nav-bar
{
    from {right: 0vw; opacity: 1;}
    to {right: -100vw; opacity: 0;}
}

@keyframes show
{
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes hide
{
    0% {opacity: 1}
    99% {opacity: 0}
    100% {opacity: 0; visibility: hidden}
}

body
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    font: 100% 'Oswald', sans-serif;
    font-weight: 300;
    background-color: #222325;
    box-sizing: border-box;
}

*:focus
{
    outline: none;
}

a, a:visited
{
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
}

#header
{
    background-image: url("img/bg.jpg");
    background-repeat: repeat;
    background-size: 15vw;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
}

#logo
{
    color: white;
    font-family: LogoFont, serif;
    font-size: 15vw;
    margin: 0px;
    padding: 20vh 0px 0px 0px;
    width: 100%;
    text-align: center;
    cursor: default;
}

#error-message
{
    margin: auto;
    padding: 0.3em;
    font-size: 0.8em;
    text-align: center;
    color: white;
}

.windir
{
    margin: 0;
    padding: 0;
    font: 1.7em 'Oswald', sans-serif;
    font-weight: 300;
    text-align: center;
    color: white;
}

.windir a
{
    color: grey;
}

#profile
{
    padding: 0.5em;
    transition: opacity 0.3s;
}

.show
{
    animation-name: show;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.hide
{
    animation-name: hide;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.form-container
{
    padding: 0.2em;
    text-align: center;
}

.form-input
{
    width: 10em;
    padding: 0.1em 0.3em;
    font: 1em 'Oswald', sans-serif;
    font-weight: 300;
    color: #f8f8f8;
    background-color: rgba(0,0,0,0);
    border-radius: 0.3em;
    border: 1px solid #f8f8f8;
}

.form-input-check
{
    text-align: right;
}
.form-container label
{
    color: white;
    font-size: 1em;
    font-weight: 300;
}

.form-button
{
    font: 1em 'Oswald', sans-serif;
    font-weight: 300;
    text-align: center;
    padding: 0.1em 1em;
    background-color: rgba(0,0,0,0);
    border-radius: 0.7em;
    margin: 0.2em;
    border: 1px solid white;
    color: white;
}

.form-button:hover
{
    background-color: rgba(255, 255, 255, 0.3);
}

.form-button:active
{
    background-color: #fafafa;
    color: black;
    opacity: 1;
}

#nav
{
    position: fixed;
    width: 100%;
    margin: 0;
    outline: none;
    padding: 0;
    transition: padding 0.5s;
    z-index: 5;
}

.nav-white
{
    background-color: none;
}
.nav-black
{
    background-color: #222325;
}

#nav-img-menu
{
    float: left;
    position: relative;
}

#nav-img-back
{
    float: right;
}

.nav-img
{
    box-sizing: border-box;
    margin: 0;
    transition: opacity 0.5s, padding 0.5s, width 0.5s;
    cursor: pointer;
}

.nav-img:hover
{
    background-color: rgba(255, 255, 255, 0.3);
}

.nav-img:active
{
    filter: invert(100%);
    background-color: black;
}

.nav-img-white
{
    width: 3.2em;
    padding: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
}

.nav-img-white:hover
{
    border: 1px solid white;
}

.nav-img-black
{
    width: 3em;
    padding: 0.5em;
    border-left: 1px solid rgba(255, 255, 255, 0);
    border-right: 1px solid rgba(255, 255, 255, 0);
    border-top: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.nav-img-black:hover
{
    border-left: 1px solid rgba(255, 255, 255, 1);
    border-right: 1px solid rgba(255, 255, 255, 1);
    border-top: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.nav-img-black:active
{
    border-left: 1px solid #212121;
    border-right: 1px solid #212121;
    border-top: 1px solid #212121;
    border-bottom: 1px solid #212121;
}
#nav-menu
{
    opacity: 0;
    position: relative;
    padding: 0;
    transition: left 0.5s, top 0.5s;
}


.nav-menu-show
{
    animation-name: show-nav-bar;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.nav-menu-hide
{
    animation-name: hide-nav-bar;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.nav-div
{
    float: left;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    transition: padding 0.5s;
}

.nav-div:hover, .logout:hover
{
    background-color: rgba(255, 255, 255, 0.3);
}

.nav-div:active, .logout:active
{
    background-color: white;
    color: black;
}

.nav-div-white
{
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 0.8em 0.5em;
}

.nav-div-white:hover
{
    border: 1px solid white;
    border-radius: 3px;
}

.nav-div-black
{
    padding: 0.7em 0.4em;
    border-left: 1px solid rgba(255, 255, 255, 0);
    border-right: 1px solid rgba(255, 255, 255, 0);
    border-top: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.nav-div-black:hover
{
    border-left: 1px solid rgba(255, 255, 255, 1);
    border-right: 1px solid rgba(255, 255, 255, 1);
    border-top: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0);

}

.nav-div-black:active
{
    border: 1px solid white;
}

.logout
{
    float: right;
    margin-right: 2em;
    color: white;
    text-align: center;
    font: 1.0em 'Oswald', sans-serif;
    font-weight: 300;
    cursor: pointer;
    transition: padding 0.5s, opacity 0.5s;
}

.visible
{
    display: inherit;
}

.invisible
{
    visibility: hidden;
}

.main
{
    min-height: 85vh;
    background-color: #222325;
    color: #212121;
    transition: color 0.5s, background-color 0.5s;
    padding: 5vh 15%;
    font: 1.1em 'Fira Sans Condensed', sans-serif;
    font-weight: 300;
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-hyphens: auto;
    hyphens: auto;
    hyphenate-limit-before: 8 4 4;
    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-before: 4;
    -webkit-hyphenate-limit-after: 4;
    -webkit-hyphenate-limit-lines: 8;
}

.day
{
    background-color: white;
    color: #212121;
}

.night
{
    background-color: #303030;
    color: #c7c7c7;
}

.main a:link
{
    color: #1ca6eb;
    text-decoration: none;
}

.main a:visited
{
    color: #1ca6eb;
    text-decoration: none;
}

.main a:hover
{
    color: #51bef5;
    text-decoration: none;
}

.main a:active
{
    color: #406f87;
    text-decoration: none;
}

.main img
{
    border: 1px solid #b8b8b8;
}

.main h1
{
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    padding: 1em 2em 1em 2em;
    margin: 0em;
}

.main h2
{
    font-family: 'Oswald', sans-serif;
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
    padding: 1em;
    margin: 0em;
}

.main h3
{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    padding: 1em 2em;
    margin: 0em;
}

.main h4
{
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    padding: 1em 0em;
    margin: 0em;
}

.main p
{
    padding: 0em;
    margin: 0em;
    text-indent: 3em;
}

.main table
{
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 1.5em;
}

.main th, td
{
    border: 1px solid grey;
    padding: 0.3em;
    font-weight: 400;
}

.project-img
{
    display: block;
    margin: auto;
    width: 2.7em;
    border: none !important;
}

#refresh-th
{
    border:none;
    min-width: 6em;
}
#refresh-img
{
    width: 1.7em;
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, 0);
}

.night #refresh-img
{
    filter: invert(100%);
}

#refresh-img:hover
{
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
}

#refresh-img:active
{
    filter: invert(100%);
    background-color: white;
}

.present
{
    background-color: #b0ffc8;
}

.absent
{
    background-color: #ffc2c8;
}

.not-empty
{
    border-radius: 3px;
    min-width: 2em;
}

.login-me
{
    background-image: linear-gradient(to right, #222325, #4d4d4d, #222325);
    color: white;
    text-shadow: 1px 1px 1px black;
}

.night .login-me
{
    background-image: linear-gradient(to right, #dbdbdb, #7d7d7d, #dbdbdb);
}

.me
{
    cursor: pointer;
}

.me:hover
{
    opacity: 0.7;
}

.me:active
{
    opacity: 0.3;
}

.register-container
{
    width: 100%;
    box-sizing: border-box;
}

.row
{
    width: 100%;
    display: inline-block;
}

.col-left
{
    float: left;
    width: 40%;
    box-sizing: border-box;
    padding: 0.4em;
}

.col-left label
{
    float: right;
    padding: 0.5em;
}

.col-right
{
    float: left;
    width: 60%;
    box-sizing: border-box;
    padding: 0.4em;
}

.col-check-3
{
    float: left;
    width: 33%;
}

.col-check-40
{
    float: left;
    width: 40%;
}

.col-check-20
{
    float: left;
    width: 20%;
}

.col-check-50
{
    float: left;
    width: 50%;
}

.register-input
{
    border-radius: 3px;
    border: 1px solid #808080;
    padding: 0.2em;
    font: 1em 'Oswald', sans-serif;
    font-weight: 300;
}

.register-container .button
{
    text-align: center;
}

.register-button
{
    font: 1em 'Oswald', sans-serif;
    font-weight: 300;
    border-radius: 5px;
    border: 1px solid #808080;
    padding: 0.5em;
    margin: 0.5em;
}

#projects-other
{
    padding: 0.1em;
    margin: 0 0.2em;
    transition: opacity 0.3s;
}

.switch
{
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.5em;
    margin: 0.3em 0 0 0;
}

.switch input
{
    opacity: 0;
    height: 0;
    width: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  padding: 0;
  margin: 0;
  border-radius: 3em;
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(1.5em - 2px);
  width: calc(1.5em - 2px);
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: none;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.5em);
  -ms-transform: translateX(1.5em);
  transform: translateX(1.5em);
}

.error
{
    border: 1px solid #e03d3d;
}

.page-error
{
    font-size: 0.8em;
    color: red;
    text-align: center;
    margin: auto;
    padding-bottom: 1.5em;
}

.error-code
{
    font-family: error-code;
    font-size: 1em;
}

#cookie-agreement
{
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    height: 3em;
    width: 100%;
    padding-top: 0.7em;
    background-color: rgba(34, 35, 37, 0.7);
    color: white;
    font-size: 1em;
    text-align: center;
    z-index: 5;
}

#cookie-agreement button
{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1em;
    margin: 0em 1em;
    padding: 0em 0.5em;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    border-radius: 3px;
    color: white;
}

#cookie-agreement button:hover
{
    background-color: rgba(255, 255, 255, 0.3);
}
#footer
{
    margin: 1em 0em;
    padding: 0;
    position: relative;
    color: #b8b8b8;
    font: 0.8em 'Oswald', sans-serif;
    font-weight: 300;
    text-align: center;
}

.footer-block
{
    margin: 0.5em;
    padding: 0;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

.img-div
{
    padding: 0em 0.5em;
    margin: 0;
    display: inline;
    position: relative;
}

#footer img
{
    opacity: 0.7;
    width: 3em;
    cursor: pointer;
}
#footer img:hover
{
    opacity: 1;
}

.footnote
{
    font-size: 0.7em;
    color: #ababab;
    padding: 0.5em;
}

.hr
{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    margin: 1em;
}

.good
{
    color: #50ad5b;
}

.bad
{
    color: #cf4c4c;
}

.grid-container
{
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-gap: 1%;
    padding-bottom: 2em;
}

.grid-item
{
    position: relative;
}

.article-img
{
    width: 100%;
    height: 100%;
    cursor: pointer;
    filter: contrast(75%);
    box-shadow: 1px 1px 4px black;
}

.article-text
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    color: white;
    text-align:center;
    text-shadow: -1px 0 3px black, 0 1px 3px black, 1px 0 3px black, 0 -1px 3px black;
    cursor: pointer;
    z-index: 1;
}

.article-img:hover, .article-text:hover + .article-img
{
    filter: contrast(100%);
}

.img-center
{
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.text-on-image-bottom
{
    position: absolute;
    color: white;
    bottom: 2em;
    text-shadow: -1px 0 3px black, 0 1px 3px black, 1px 0 3px black, 0 -1px 3px black;
    text-align: center;
    z-index: 1;
}

.thumbnail
{
    cursor: pointer;
    box-sizing:border-box;
    max-width:80%;
    max-height:90vh;
}

.thumbnail:hover {opacity: 0.8;}

.modal
{
    display:none;
    position:fixed;
    z-index: 6;
    width:100%;
    height:100%;
    top: 0;
    left: 0;
    overflow:auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content
{
    position: absolute;
    display:block;
    overflow: scroll;
    image-rendering: pixelated;
}

.tall-modal-img
{
    padding: 1em 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.wide-modal-img
{
    padding: 0 1em;
    top: 50%;
    transform: translate(0, -50%);
}

.large-modal-img
{
    padding: 1em;
}

.regular-modal-img
{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-image
{
    max-width:100%;
}

.two-imgs-div
{
    box-sizing:border-box;
    width:100%;
    padding:1em 0em;
    text-align:center;
}

.one-of-two
{
    display:inline;
    width:49%;
}

#nav-img-mode
{
    float: right;
}

.remark
{
    color: #606060;
}

.night .remark
{
    color: #8f8f8f;
}

.video-container
{
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-gap: 3%;
    padding-bottom: 2em;
}

.video-item
{
    position: relative;
    width: 100%;
    height: 40vh;
}