@use "sass:color";
@use "sass:map";
@import './fonts';
@import './normalize';

$font-family: 'Oswald', Arial, sans-serif;
$font-size-rg: 1.2rem;
$font-size-sm: 0.9rem;
$bold: 500;
$border-radius: 3px;
$bg-img: fixed 15vw repeat url("img/bg.jpg");

$scrollbar-width: 10px;

$light: #f8f8f8;
$dark: #222325;
$gray: #d2d2d2;
$light-trans: color.adjust($dark, $alpha: -0.7);
$dark-trans: color.adjust($dark, $alpha: -0.3);
$red: #db3c3c;
$green: #32a852;
$blue: #0095ff;
$light-blue: #4ec4ec;

$form-gap: 0.3rem;
$nav-gap: 0;
$nav-white-height: 3.5rem;
$nav-black-height: 3rem;
$main-line-height: 1.7rem;
$main-gap: 3rem;
$mobile-gap: 2rem;
$title-img-height: 700px;
$mg-div-desktop: 2rem 0;
$mg-div-mobile: 1rem 0;

$themes: (
    "light": (
        "color": $light,
        "bg-color": transparent,
        "height": $nav-white-height,
        "border-colors": $light,
        "border-radius": $border-radius,
     ), 
    "dark": (
        "color": $light,
        "bg-color": $dark,
        "height": $nav-black-height,
        "border-colors": transparent $light,
        "border-radius": 0px,
    ));

@function get-theme-value($theme-name, $value-name) {
    @return map.get(map.get($themes, $theme-name), $value-name);
}

@mixin hoverable() {
    @media (pointer:fine) {
        @content
    }
}

@mixin mobile() {
    @media (orientation: portrait) {
        @content;
    }
}

@mixin h($size) {
    font-size: $size; 
    line-height: $size; 
    margin-block: $size * 0.5;
    margin-inline: 0;
    font-weight: $bold;
    text-shadow: -1px 0 5px $light, 0 1px 5px $light, 1px 0 5px $light, 0 -1px 5px $light;

    @if $size > 2.4rem {
        text-align: center;
    } @else {
        text-align: left;
    }

    @include mobile {
        font-size: $size * 0.8;
        line-height: $size * 0.8; 
    }
}

@mixin btn($color) {
    border: 1px solid $color;
    color: $color;
    background-color: transparent;

    @include hoverable {
        &:hover {
            background-color: color.adjust($color, $alpha: -0.8); 
            border: 1px solid $color;
        }
    }
    &:active { 
        background-color: $color;
        color: color.invert($color);
        opacity: 1;
    }

    &:disabled {
        background-color: transparent !important;
        color: $dark;
    }
}

@mixin nav-theme($name) {
    background-color: get-theme-value($name, "bg-color");

    #nav-btns, #nav-links {
        height: get-theme-value($name, "height");
        color: get-theme-value($name, "color");
    }

    #nav-links {
        left: get-theme-value($name, "height");
    }

    .nav-btn {
        color: get-theme-value($name, "color");
        border-width: 1px;
        border-style: solid;
        border-color: transparent;
        border-radius: get-theme-value($name, "border-radius");
        min-width: get-theme-value($name, "height");

        @include hoverable {
            &:hover {
                border-color: get-theme-value($name, "border-colors");
            }
        }
    }
}

%flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

%flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

%flex-row-sb {
    @extend %flex-row;
    justify-content: space-between;
}

%transition-ease {
    transition: all .2s ease-in-out;
}

%form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

%error-msg {
    font-size: $font-size-sm;
    color: $red;
}

%img-mobile {
    @include mobile {
        margin: $mg-div-mobile !important;
        img { max-width: 100% !important; max-height: 50vh !important;}
    }
}

//////// elements ////////

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: $scrollbar-width;
    height: $scrollbar-width;
    background-color: $dark;
}

::-webkit-scrollbar-thumb {
    background-color: $light;
}

h1 { @include h(3.5rem)};
h2 { @include h(3rem)};
h3 { @include h(2.5rem)};
h4 { @include h(2rem)};
h5 { @include h(1.7rem)};

a, a:visited {
    @extend %transition-ease;
    font-weight: 400;
    text-decoration: none;

    &:hover {
        text-shadow: 0 0 2px gray;
    }
}

img {
    max-width: 100%;
    max-height: 100%;
}

form {
    @extend %form;
}

hr {
    border: 0;
    margin: 0;
    border-top: 1px solid $dark;
}

button, .btn {
    @extend %transition-ease;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-family: $font-family;
    font-weight: 300;
    white-space: nowrap;
    border-radius: $border-radius;
    padding: $form-gap 0.5rem;
    width: fit-content;
    border: 1px solid $dark;
}

.input {
    @extend %transition-ease;
    font-weight: 300;
    width: 100%;
    outline: none;
    overflow: auto;
    padding: $form-gap;
    border: 1px solid $dark;
    border-radius: $border-radius;
}


input[type="checkbox"], input[type="radio"]
{
    width: unset;
    margin: $form-gap;
}


textarea {
    resize: none;
}

ol, ul {
    padding-inline-start: $font-size-rg * 1.2;
    li {
        padding-inline-start: $font-size-rg * 1.2;
        margin-block: $font-size-rg * 0.5;
    }

    li::marker {
        font-size: $font-size-rg * 1.2;
        line-height: $main-line-height * 1.2;
        font-family: 'logo-font';
        content: 'o';
    }
}

.cols {
    column-count: 2;
    column-gap: 4rem;
    margin: 2rem 0;

    @include mobile {
        column-count: 1;
        margin: 0;
    }
}

///////////////// common classes /////////////
/// 


.locked {
    overflow: hidden;
}

.desktop {
    @include mobile {
        display: none;
    }
}

.btn-active {
    cursor: default;
}

.b {
    font-weight: $bold;
}

.c {
    text-align: center;
}

.r {
    text-align: right;
}

.i {
    font-style: italic;
}

.sm {
    font-size: $font-size-sm;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.none {
    display: none;
}

.attention {
    color: $red;
    font-weight: $bold;
}

.red {
    color: $red;
}

.green {
    color: $green;
}

.gray {
    color: $gray;
}
/////// animation classes //////////
/// 
@keyframes fade-in {
    0% { opacity: 0; visibility: hidden;}
    100% {opacity: 1; visibility: visible;}
}

@keyframes slide-in
{
    from {left: 100vw; opacity: 0; visibility: hidden;}
    to {left: 3.5rem; opacity: 1; visibility: visible; }
}

@keyframes slide-down {
    from {top: 100vh; opacity: 0; visibility: hidden;}
    to {top: 0; opacity: 1; visibility: visible; }
}

%fade-in {
    animation-name: fade-in;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

%slide-in {
    animation-name: slide-in;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.fade-in {
    @extend %fade-in;
}

.fade-out {
    @extend %fade-in;
    animation-direction: reverse;
}

.slide-in {
    @extend %slide-in;
}

.slide-out {
    @extend %slide-in;
    animation-direction: reverse;
}

.open-nav {
    @extend %slide-in;
    @include mobile {
        animation-name: slide-down;
    }
}
.close-nav {
    @extend %slide-in;
    animation-direction: reverse;
    @include mobile {
        animation-name: slide-down;
    }
}