@use 'sass:color';
@import './mixins';

$footer-height: 3rem;

body {
    background: $bg-img;
}

body {
    display: grid;
    grid-template-areas:    'nav'
                            'content'
                            'cookie';
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    font-family: $font-family;
    font-weight: 300;
    font-size: $font-size-rg;

    img {
        border: 2px solid $dark;
    }

    @include mobile {
        grid-template-areas:    'cookie'
        'content'
        'nav';
    }
}

#content {
    grid-area: content;
    overflow: auto;
}

header {
    padding: 20vh 0;
    min-height: 100%;

    form {
        @extend %flex-column;
        align-items: center;
        gap: $form-gap;
        min-width: 15rem;
        width: 15vw;
        margin: auto;
    }

    input
    {
        color: $light;
        background-color: transparent;
        border-radius: 0.4rem;
        border: 1px solid $light;
    }

    label { 
        color: $light; 
        display: inline;
    }

    button
    {
        margin: $form-gap;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @include mobile {
        background-attachment: fixed;

        form {width: 15rem;}
    }
}

.btn-std {
    @include btn($light);
    border-radius: 0.7rem;
}

nav {
    grid-area: nav;
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 0;

    @include mobile {
        top: auto;
        bottom: 0;
        background-color: transparent !important;
    }
}

.nav-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 0.5rem;
    font-weight: 300;
    cursor: pointer;

    @include hoverable {
        &:hover {
            background-color: color.adjust($light, $alpha: -0.7);
        }
    }
    &:active {
        color: $dark !important;
        background-color: $light;
    }


    i {
        font-family: logo-font;
        font-size: 1.5rem;
        font-style: normal;
    }

    @include mobile {
        height: get-theme-value("dark", "height");
        line-height: get-theme-value("dark", "height");
    }
}

.nav-btn, #nav-btns, #nav-links {
    transition: all .3s;
}

#nav-btns, #nav-links {
    @include mobile {
        background-color: $dark;
    }
}

#nav-btns {
    @extend %flex-row;
    z-index: 15;
    
    .spacer {
        flex-grow: 1;
    }

    @include mobile {
        justify-content: space-between;
        z-index: 15;

        .spacer {
            display: none;
        }
    }
}

#nav-links {
    @extend %flex-row;
    position: fixed;
    top: 0;
    //left: next to menu btn (assigned by theme mixin)
    width: calc(100% - 3 * get-theme-value("dark", "height"));
    opacity: 0;
    visibility: hidden;

    @include mobile {
        width: 100vw;
        left: 0 !important;
        flex-direction: column;

        .nav-btn {
            flex-grow: 1;
            width: 100%;
            border-color: $light;
        }
    }
}

.nav-open {
    #nav-links {
        opacity: 1;
        visibility: visible;
    }

    @include mobile {
        #nav-links {
            height: calc(100% - get-theme-value("dark", "height")) !important;
        }
    }
}

#nav-menu-btn i {
    transform: rotateZ(90deg);
}

.nav-white
{
    @include nav-theme("light");
}

.nav-black
{
    @include nav-theme("dark");
    box-shadow: 0 0 5px $light;

    @include mobile {
        box-shadow: none;
        border-top: 1px solid $light;
    }
}

footer {
    position: relative;
    padding: 0.5rem;
    color: #b8b8b8;
    background-color: $dark;
    font-size: $font-size-sm;
    text-align: center;

    .footer-block {
        margin: 0.5rem;
        color: #ffffffb3;
        text-align: center;
    }

    .img-div
    {
        padding: 0rem 0.5rem;
        display: inline;
        position: relative;
    }

    img {
        opacity: 0.7;
        width: 2.5rem;
        cursor: pointer;
        transition: opacity .3s;

        &:hover {
            opacity: 1;
        }
    }

    @include mobile {
        padding-bottom: get-theme-value('dark', 'height');
    }

}

.logo
{
    color: $light;
    font-family: logo-font, sans-serif;
    font-size: 15vw;
    cursor: default;
    text-align: center;

    @include mobile {
        font-size: 9rem;
    }
}

.error-message
{
    margin: auto;
    padding: 0.3em;
    font-size: $font-size-sm;
    text-align: center;
    color: $red;
}

#cookie-agreement
{
    grid-area: cookie;
    position: fixed;
    bottom: 0;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    background-color: $dark-trans;
    color: $light;
    text-align: center;
    z-index: 5;

    button {margin-left: 1rem;}

    @include mobile {
        top: 0;
        bottom: auto;
    }
}

main {
    position: relative;
    min-height: 100vh;
    color: $dark;
    transition: background-image .2s, color .3s;
    background-image: linear-gradient(to left, white, $light, white);
    padding: $main-gap 10vw;
    line-height: $main-line-height;

    a {
        color: $blue;
        &:hover {text-shadow: 0 0 1px gray;}
    }

    p {
        margin: 1rem 0;
    }

    @include mobile {
        width: 100%;
        padding: 1rem;
    }
}

.dark {
    color: $gray;
    background: $dark;

    a {
        color: $light-blue;
        &:hover {text-shadow: 0 0 1px white;}
    }
    img {
        border: 2px solid $gray;
    }

    hr {
        border-color: $gray;
    }

    h1, h2, h3, h4, h5 {text-shadow: -1px 0 5px black, 0 1px 5px black, 1px 0 5px black, 0 -1px 5px black;}
}

.on-pic-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    color: $light;

    > * {
        margin: 0;
        text-align: center;
        text-shadow: -1px 0 5px black, 0 1px 5px black, 1px 0 5px black, 0 -1px 5px black;
    }
}

.title-div {
    @extend %flex-row;
    justify-content: center;
    position: relative;
    margin: $mg-div-desktop;

    img {
        max-height: $title-img-height;
    }
}

section {
    margin: $main-gap 0;
}

article {
    margin: $main-gap 0;
}

.skill {
    @extend %flex-row;
    gap: $main-gap;
    margin: $mg-div-desktop;

    img {
        max-height: $title-img-height * 0.7;
        max-width: $title-img-height;
    }

    &:nth-of-type(even) img {
        order: -1;
    }

    @include mobile {
        flex-direction: column;
        gap: 0.5rem;
        margin: $mg-div-mobile;

        img { max-width: 100%; max-height: 50vh;}
        &:nth-of-type(even) img {
            order: 0;
        }
    }
}

.step {
    width: 100%;
    @extend %flex-row;
    flex-wrap: wrap;
    gap: 2rem;
    margin: $mg-div-desktop;

    p {
        margin: 0;
        width: calc((100% - 2rem) / 2);
    }

    img {
        width: calc((100% - 6rem) / 4);
    }

    .fill {
        width: 100%;
    }

    .n {
        font-size: 4rem;
        line-height: 4rem;
        padding: 0 1rem;
    }

    @include mobile {
        margin: $mg-div-mobile;
        p { width: 100%};
        img { width: calc((100% - 2rem) / 2);}
    }
}

.articles {
    @extend %flex-row;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;

    > div { 
        position: relative; max-width: 400px;

        &:hover img {
            filter: none;
        }
    }

    img {filter: contrast(75%); transition: all .3s;}
}

.two-imgs {
    @extend %flex-row;
    gap: 2rem;
    align-items: flex-start;

    &-text {
        align-self: stretch;
        @extend %flex-column;
        justify-content: space-evenly;
    }
    &-pics {
        @extend %flex-column;
        gap: 0.5rem;
    }
}


.modal {
    display: none;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    top: get-theme-value("dark", "height");
    left: 0;
    z-index: 7;
    width: 100vw;
    height: calc(100vh - get-theme-value("dark", "height"));
    overflow: auto;
    background-color: $dark-trans;
    cursor: pointer;

    img {
        padding: 2rem;
        border: none;
        max-height: unset;
    }

    @include mobile {
        top: 0;
    }
}

.thumbnail{
    cursor: pointer;
    transition: all .3s;
    filter: contrast(75%);
    transition: all .3s;

    &:hover {
        filter: none;
    }

    @include mobile {
        filter: none;
    }
}

.about {

    section p, section ul {
        margin-left: 2rem;

        @include mobile {
            margin-left: 0;
        }
    }

    &-sigil {
        position: relative;
        text-align: center; 

        img {
            border: none !important;
            max-height: $title-img-height * 0.8;
        }

        h2 {
            position: absolute;
            width: 100%;
            bottom: 0;
        }
    }

    &-closing {
        width: 100%;
        text-align: center;
        img { max-height: $title-img-height * 0.7;}
    }
}
