{% extends 'windir/layout.html' %}
{% load static %}
{% block main %}
<main>
<img class="img-center" src="/media/eye_unit.png" style="width:30%;padding:1em;border:none;"/>
<h2>
Приветствую всех посетителей сайта отряда Windir. <br> Здесь я расскажу о том, что есть наш отряд и как он возник.
</h2>

<p>Виртуальный отряд Windir — это небольшое сообщество армачей, хорошо знакомых друг другу и давно сыгранных. Многие из нас бывали в разных отрядах, с разным подходом к организации и внутриотрядной атмосфере, и в итоге мы пришли к выводу, что будет хорошо, если мы организуем наш собственный отряд.</p>
<h3>Что значит название?</h3>
<p>Название <b>Windir</b> происходит от одноименной норвежской метал-банды <a href="https://en.wikipedia.org/wiki/Windir">Windir</a> (Земля тебе пухом, Валфар, и вкусное пиво в Вальхалле). Само слово переводится со старонорвежского диалекта как "Воин". Это название я [G-Virus] выбрал потому, что это одна из моих любимых музыкальных групп. Не хотелось брать названия вроде "10-ая танковая дивизия", "Альфа", "Горные егеря", "Морские котики" и что-то подобное, потому что мы — просто игроки в Arma 3, а не дивизия, сквадрон или морские котики.</p>
<h3>Почему такой логотип?</h3>
<p>Логотип нашего отряда — это стилизация глаза Одина (он одноглазый, если что) и двух его воронов — Хугинна и Мунинна. Ну и темные тона, как дань превосходному жанру музыки.</p>
<h3>Кого принимают в отряд?</h3>
<p>Наш отряд состоит из разных людей, с разными взглядами и жизненной позицией, с разным опытом игры в Арму, разного возраста. Но благодаря простым правилам и договоренностям мы достигаем комфорта и благополучия на играх, не содержим в отряде идиотов, стараемся дружить со всеми другими отрядами и следовать правилам проектов, на которых мы играем. </p>
<p>У нас нет читеров, нет желающих читерить и не будет.
<p>У нас нет устава на 200 страниц, нет списка наказаний, нет званий (глупо называть человека капитаном, который и близко не связан с армией, правда?) </p>
<p>Правило, по сути, одно — играй с комфортом и обеспечь комфортом других. Отдельные пункты можно расписать на 10 таких статей, но в этом нет необходимости, потому что они вполне логичны и очевидны для зрелого человека.</p>
<h3>Некоторые уточнения</h3>
<p>
Если тебе стало интересно и ты желаешь вступить в отряд, то необходимо знать особенности нашего отряда:</p>
<ul>
    <li>Всей жизнью отряда распоряжается один человек - его создатель. То есть принять в отряд или выгнать из отряда — это все он.</li>
    <li>Тем не менее командир отряда не может все знать и учитывать, поэтому он с удовольствием послушает твое мнение.</li>
    <li>В нашем отряде <font color="#cf4c4c"><b>запрещены</b></font> всякого рода срачи, пассивная агрессия, токсичность, понты, истерики и подъебы. Если ты с этим столкнулся, рекомендуется решить эту проблему тет-а-тет или с помощью командира. А если в этом обвинили тебя — будь добр, проанализируй свою речь, ибо возможно, что она не совсем корректная.</li>
    <li>Мы не обсуждаем политические вопросы. Если у тебя есть что сказать, обсуждай это с тем, кто заинтересован, в личке.</li>
    <li>Состоя в нашем отряде, ты должен посещать игры стабильно. Если у тебя отпуск, ты болеешь, в командировке, в депрессии, то ты должен сообщить примерную дату, с которой у тебя вновь начнется стабильный онлайн. Если это сложно, то тебе нечего делать в этом отряде.</li>
    <li>Мы не запрещаем состоять в других отрядах на тех проектах, где наш отряд не играет. А там, где мы играем, приписка должна быть наша. Ну иначе хуйня какая-то странная выходит.</li>
    <li>Если ты новичок, то это не проблема. Проблема — это когда тебе насрать, что ты новичок.</li>
    <li>Мы общаемся исключительно в Telegram.</li>
    <li>Мы стараемся брать в отряд людей возрастом больше 25 лет. Но ничто не помешает взять тебя, 16-летнего, если ты того стоишь.</li>
    <li>Включать музыку на играх у нас <font color="#32a852"><b>разрешено</b></font>. Но у этого есть два ограничения — громкость и желание других слушать твою музыку. По первой просьбе <u>любого</u> человека, который ее слышит, ты обязан вырубить.</li>
    <li>Если ты выпил и пришел на игры — хоть об стену убейся, но оставайся адекватным. В противном случае мы сначала просим покинуть игру, а если это повторится — покинуть отряд. Уважай других людей.</li>
    <li>Если ты совершил тимкилл — идешь и искренне и вежливо извиняешься, даже если на тебя злятся. Но если со своей злобой перегнули палку — ты можешь его хоть сожрать, а командир в этом поможет.</li>
</ul>
</p>
<h3 style="text-align:center;">И перед тем, как вступить в отряд, дорогой друг, помни —
<font color="#36a7e3">ты нужен Виндиру ровно настолько, насколько Виндир нужен тебе</font>, и никак иначе.
<br>Приятных игр и добро пожаловать!</h3>
<p align="right"><i>Ваш командир, G-Virus</i></p>
<h2> </h2>
<img class="img-center" src="/media/valfar.jpg" width="60%"/>
</main>
{% endblock %}