{% extends 'windir/layout.html' %}
{% load static %}
{% block main %}
<main class="about">
    <div class="about-sigil">
        <img src="/media/eye_unit.png">
        <h2>Приветствую всех посетителей сайта отряда Windir</h2>
    </div>

    <section>
        Виртуальный отряд Windir — это небольшое сообщество армачей, хорошо знакомых друг другу и давно сыгранных. 
        Многие из нас бывали в разных отрядах с разной внутриотрядной атмосферой и подходом к организации, 
        и в итоге мы пришли к выводу, что будет хорошо, если мы организуем наш собственный отряд.
    </section>
    
    <section>
        <h5>Что значит название?</h5>
        <p>Название <b>Windir</b> происходит от одноименной норвежской метал-группы 
            <a href="https://en.wikipedia.org/wiki/Windir">Windir</a> 
            (Земля тебе пухом, Валфар, и вкусное пиво в Вальхалле). 
            Само слово переводится со старонорвежского диалекта как "Воин". 
            Это название я [G-Virus] выбрал потому, что это одна из моих любимых музыкальных групп. 
            Не хотелось брать названия вроде "10-ая танковая дивизия", "Альфа", "Горные егеря" и что-то подобное, потому что мы — просто игроки в Arma 3, 
            а не дивизия, сквадрон или морские котики.
        </p>
    </section>
    <section>
        <h5>Почему такой логотип?</h5>
        <p>Логотип нашего отряда — это стилизация глаза Одина (он одноглазый, если что) и двух его воронов — 
            Хугинна и Мунинна. 
            Ну и темные тона как дань превосходному жанру музыки.
        </p>
    </section>

    <section>
        <h5>Кого принимают в отряд?</h5>
        <p>Наш отряд состоит из разных людей с разными взглядами и жизненной позицией, с разным опытом игры в Арму, разного возраста. 
            Но благодаря простым правилам и договоренностям мы достигаем комфорта и благополучия на играх, 
            не держим в отряде идиотов, стараемся дружить со всеми другими отрядами и следовать правилам проектов, 
            на которых играем. 
        </p>
        <p>У нас нет читеров, нет желающих читерить и не будет.</p>
        <p>У нас нет устава на 200 страниц, нет списка наказаний, нет званий 
            (глупо называть человека капитаном, который и близко не связан с армией, правда?) 
        </p>
        <p>Правило, по сути, одно — играй с комфортом и позаботься о комфорте других. 
            Отдельные пункты можно расписать на 10 таких статей, но в этом нет необходимости, 
            потому что они вполне самоочевидны для зрелого человека.
        </p>
    </section>

    <section>
        <h5>Некоторые уточнения</h5>
        <p>Если тебе стало интересно и ты хочешь вступить в отряд, то необходимо знать некоторые его особенности:</p>
        <ul>
            <li>Всей жизнью отряда распоряжается один человек - его создатель. То есть принять в отряд или выгнать из отряда — это все он.</li>
            <li>Тем не менее командир отряда не может все знать и учитывать, поэтому он с удовольствием послушает твое мнение.</li>
            <li>В нашем отряде <span class="attention">запрещены</span> всякого рода срачи, пассивная агрессия, токсичность, понты, истерики и подъебы. 
                Если ты с этим столкнулся, рекомендуется решить эту проблему тет-а-тет или с помощью командира. 
                А если в этом обвинили тебя — будь добр, проанализируй свою речь, потому что возможно, что она не совсем корректная.</li>
            <li>Мы не обсуждаем политические вопросы. Если тебе есть что сказать, обсуждай это с тем, кто заинтересован, в личке.</li>
            <li>Состоя в нашем отряде, ты должен посещать игры стабильно. Если у тебя отпуск, ты болеешь, в командировке, 
                в депрессии, то ты должен сообщить примерную дату, с которой у тебя вновь начнется стабильный онлайн. 
                Если это сложно, то тебе нечего делать в этом отряде.</li>
            <li>Мы не запрещаем состоять в других отрядах на тех проектах, где наш отряд не играет. 
                А там, где мы играем, приписка должна быть наша. Ну иначе хуйня какая-то странная выходит.</li>
            <li>Если ты новичок, то это не проблема. Проблема — это когда тебе насрать, что ты новичок.</li>
            <li>Мы общаемся исключительно в Telegram.</li>
            <li>Мы стараемся брать в отряд людей старше 25 лет. Но ничто не помешает взять тебя, 16-летнего, если ты того стоишь.</li>
            <li>Включать музыку на играх у нас <span class="green b">разрешено</span>. 
                Но у этого есть два ограничения — громкость и желание других слушать твою музыку. 
                По первой просьбе <u>любого</u> человека, который ее слышит, ты обязан вырубить.</li>
            <li>Если ты выпил и пришел на игры — оставайся адекватным. 
                В противном случае мы сначала просим покинуть игру, а если это повторится — покинуть отряд. Уважай других людей.</li>
            <li>Если ты совершил тимкилл — идешь и искренне и вежливо извиняешься, даже если на тебя злятся. 
                Но если со своей злобой перегнули палку — ты можешь его хоть сожрать, а командир в этом поможет.</li>
        </ul>
    </section>

    <section>
        <h5>И перед тем, как вступить в отряд, дорогой друг, помни —
        <span style="color:#36a7e3">ты нужен Виндиру ровно настолько, насколько Виндир нужен тебе</span>, и никак иначе.
        <br>Приятных игр и добро пожаловать!</h5>
        <p class="r i">Ваш командир, G-Virus</p>
        <div class="about-closing">
            <img class="about-closing-img" src="/media/valfar.jpg"/>
        </div>
    </section>
</main>
{% endblock %}