{% extends 'windir/layout.html' %}
{% load static %}
{% block main %}
<main>
    <section>
        <h1>Статьи</h1>
        <div class="articles">
            <div>
                <a target="_blank" href="{% url 'windir:page' 'skills' %}">
                    <img class="pic-link" src="/media/prog_min_art.jpg">
                    <div class="on-pic-text"><h5>Программа-минимум</h5></div>
                </a>
            </div>
            <div>
                <a target="_blank" href="{% url 'windir:page' 'radio' %}">
                    <img class="pic-link" src="/media/radio_art.jpg">
                    <div class="on-pic-text"><h5>Гайд по рации</h5></div>
                </a>
            </div>
            <div>
                <a target="_blank" href="{% url 'windir:page' 'mods' %}">
                    <img class="pic-link" src="/media/mods_art.jpg">
                    <div class="on-pic-text"><h5>Руководство по настройке модов</h5></div>
                    
                </a>
            </div>
            <div>
                <a target="_blank" href="{% url 'windir:page' 'medicine' %}">
                    <img class="pic-link" src="/media/combat_medic_art.jpg">
                    <div class="on-pic-text"><h5>Руководство по медицине ACE 3</h5></div>
                    
                </a>
            </div>
            <div>
                <a target="_blank" href="{% url 'windir:page' 'rocket' %}">
                    <img class="pic-link" src="/media/rpg_art.jpg">
                    <div class="on-pic-text"><h5>Руководство по стрельбе из РПГ-7</h5></div>
                    
                </a>
                </div>
            <div>
                <a target="_blank" href="{% url 'windir:page' 'map' %}">
                    <img class="pic-link" src="/media/compas_art.jpg">
                    <div class="on-pic-text"><h5>Руководство по ориентированию</h5></div>
                    
                </a>
            </div>
        </div>
    </section>
</main>
{% endblock %}