	<div id="footer">
            <div id="now-people" class="footer-block">
                %%NOW_ONLINE%%
            </div>
            
            <div id="team-contacts" class="footer-block">
                <div class="img-div">
                    <a href="https://units.arma3.com/unit/windir"><img src="/img/arma3.png" id="units-img"></a>
                </div>
                <div class="img-div" id="ts-container">
                    <a href="ts3server://a3-windir.club"><img src="/img/ts-img.png" id="ts-img"></a>
                </div>
                <div class="img-div">
                    <a href="https://steamcommunity.com/groups/windir_squard"><img src="/img/steam_footer.png" id="steam-img"></a>
                </div>
            </div>
	</div>
    </body>
</html>