{% extends 'windir/layout.html' %}
{% load static %}
{% block main %}
<main>
    <div class="modal"><img></div>
	<script async defer src="{% static 'windir/load_images.js' %}"></script>

	<div class="title-div">
        <img class="lazy" data-src="/media/compas_art_header.jpg"/>
        <div class="on-pic-text">
            <h1>Руководство по ориентированию на местности</h1>
        </div>
	</div>
    <p class="c">Положи конец фразам &quot;Да где там?&quot;, &quot;Поставь на себя метку&quot;, 
        &quot;Метку, метку на врага&quot; и &quot;У какого ты дерева\дома\перекрестка?&quot;</p>
	
    <section>
        <h5>А разве это важно?</h5>
        <p>Ребята, ориентирование - это очень важно. 
            Без умения определять свою позицию, позицию врага, указывать на объект или же просто передвигаться, не теряясь в 
            трех кустах и двух домах, вы становитесь бесполезным на поле боя. 
            А бесполезные люди лишь поднимают статистику тех, кто их потом находит и наказывает. 
            Ориентирование - база, которую необходимо знать, когда вы приходите на игры.</p>
            <p>
                Начнем с основ.
            </p>
    </section>

    <section>
        <h3>Чтение карты</h3>

        <article class="skill">
            <div>
                <h4>Карта</h4>
                <p>Открывается клавишей <span class="b">М</span> по умолчанию. 
                    Открыв карту, вы увидите топографический план местности, покрытый масштабной сеткой, усыпанный разными значками и линиями, 
                    цифрами и цветами. На карте нам интересны <span class="b">объекты</span>, <span class="b">возвышенности</span> и <span class="b">низменности</span>.
                </p>
            </div>
            <img class="lazy thumbnail" data-src="/media/map_tut/map.jpg"/>
        </article>

        <article>
                <h4>Объекты</h4>
                <ul>
                    <li>Дома - обозначаются многоугольниками, чаще прямоугольники (в зависимости от формы зданий)</li>
                    <li>Радиовышки - обозначаются значком на карте</li>
                    <li>Маяки - по аналогии с радиовышками</li>
                    <li>Дороги и перекрестки - линии, как правило, желтые, различной толщины</li>
                    <li>Камни - обозначаются черными полупрозначными треугольниками в форме скалы</li>
                    <li>ЛЭП - черные тонкие, хорошо видимые линии</li>
                    <li>Заправочные станции - значки на карте</li>
                    <li>Автобусные остановки - значки на карте</li>
                    <li>Мосты - утолщение дороги, либо &quot;кость&quot;</li>
                    <li>Одиночные деревья\кусты - светло-зеленые кружки</li>
                    <li>Ограждения - светло-серые ломаные линии</li>
                </ul>
        </article>

        <article>
            <h4>Возвышенности</h4>
            <p>
                Их также называют <i>высотами</i>. Обозначаются на карте черными цифрами (высота на уровнем моря), а вокруг высот можно заметить плавные кривые линии, чередующиеся светлыми и красными цветами. Это <i>контурные линии</i>, обозначающие плавность перепада высот. Чем они ближе друг к другу, тем круче склон.
            </p>
        </article>

        <article>
            <h4>Низменности</h4>
            <p>
                Их также называют <i>низинами</i>. Это все то, что не является высотой, да. На некоторых проектах они обозначены на карте впадинами, на некоторых — нет, а еще каждая низинка может в свою очередь быть высотой. Присмотритесь внимательнее к карте и все станет понятно.
            </p>
        </article>

        <article class="two-imgs">
            <div class="two-imgs-text">
                <h4>Масштабная сетка</h4>
                <p>
                    Важный элемент карты помимо статических объектов. 
                    В Арме карта динамическая, ее можно скроллить и менять масштаб. 
                    Если увеличить масштаб до максимального, то расстояние между двумя линиями будет равным <b>100 метров</b>. 
                    Если начать уменьшать карту, то с определенного масштаба сетка изменится и расстояние станет равным <b>1 км</b>. 
                    В следующий раз это будет уже <b>10 км</b> и так далее.
                </p>
            </div>
            <div class="two-imgs-pics">
                <img class="lazy" data-src="/media/map_tut/square100m.jpg">
                <img class="lazy" data-src="/media/map_tut/square1km.jpg">
            </div>
        </article>
    </section>

    <p>
        Но самым главным навыком, которому вам необходимо научиться - это умение правильно ставить правильные <span class="b">метки</span>.
    </p>
    <section>
        <h3>Метки</h3>
        <p>
            Метки на карте ставятся <b>двойным щелчком ЛКМ</b>. 
            Появляется меню, в котором предлагается выбрать цвет, иконку и текст метки, а также префиксы
            (буквы О, И и Д). Если кликнуть еще раз дважды по метке во время открытого меню, 
            то откроется дополнительное меню слева от метки, где будет расширенный выбор меток и цветов. 
            Помимо этого, есть возможно выбрать <span class="b">канал</span>, в который поставить метку.
        </p>
    </section>

    <section>
    <h4>Префиксы</h4>
        <ul>
            <li>О - приписывает название отделения к вашей метке (Например, <b>А 1-1 текст_метки</b>)</li>
            <li>И - приписывает ваш позывной (Чтобы не писать вручную каждый раз)</li>
            <li>Д - приписывает заранее определенный текст (Указывается в расширенных настройках)</li>
        </ul>
    </section>

    <section>
    <h4>Каналы</h4>
        Бывают следующие:
        <ul>
            <li><font color="#4dc94d">Групповой</font> - метку видно в пределах вашего отделения</li>
            <li><font color="#4baacc">Дополнительный</font> - метку видно в пределах стороны</li>
            <li><font color="#c93f3a">Общий</font> - метку видно <span class="b"><u>всем</u></span> (врагу - тоже!)</li>
            <li><font color="#d1d1d1">Прямой</font> - метку видно всем, кто неподалеку от вас</li>
            <li><font color="#cc9b3f">Транспортный</font> - метку видно тем, кто находится с вами в одной технике</li>
        </ul>
        <p>На разных проектах возможно присутствие или отсутствие других каналов, но все они влияют на область видимости метки.</p>
    </section>

    <section>
        <h4>Цвета меток</h4>
        Метки отличаются по цвету:
        <ul>
            <li><font color="red">Красные</font> - метки на своих</li>
            <li><font color="blue">Синие</font> - метки на врага</li>
            <li><font color="black">Черные</font> - метки на уничтоженные юниты (свои или чужие)</li>
            <li><font color="#d1d1d1">Белые</font> - метки на брошенную технику, зачищенные здания</li>
            <li><font color="green">Зеленые</font> - метки направления (То, куда нужно приехать\прийти\приплыть\приползти)</li>
            <li><font color="#c1d649">Желтые</font> - информационные метки (в основном для общения на карте)</li>
        </ul>

        <p class="attention">Внимание! На разных проектах назначение цветов может быть другим!</span>
        <p>
            Например, на проекте Red Bear метки на своих - синие, а на проекте SquadGames - красные. Это легко и быстро выясняется, как только вы первый раз сыграли на проекте. Существуют также дополнительные цвета, которые, по сути, дублируют значение основных. Во избежание путаницы рекомендуется пользоваться основными цветами.
        </p>
        <img class="lazy thumbnail" data-src="/media/map_tut/marks_menu.jpg"/>
    </section>

    <section>
        <h4>Расширенные настройки меток</h4>
        <p>У меток, помимо стандартных настроек, существуют расширенные. Например, вы можете ввести заготовленный текст и нажать кнопку Д, чтобы данный текст автоматически приписывался к вашей метке. В повседневной игре вам вряд ли понадобится использовать дополнительные настройки, но ничто не мешает изучить их самостоятельно в редакторе.</p>
        <img class="lazy thumbnail img-center" data-src="/media/map_tut/marks_extended_menu.png"/>
    </section>
    <p>
        А теперь рассмотрим основные виды меток, применяемых в проектах серьезных игр, и что они обозначают. Очень важно ставить правильные метки, правильного цвета и в правильный канал, дабы избежать вопросов и недовольства со стороны КО или КСа.
    </p>

    <section>
        <h4>Виды меток</h4>
        <ul>
            <li><b>Точка</b> - чаще всего обозначает одиночного пехотинца (пеха). Иногда черными точками обозначают мины, а белыми - зачищенные здания.</li>
            <li><b>Ромб с перекрестием</b> - метка на отделение. Отделением считается группа из 3-х и более пехов, бегущих вместе. Помимо стандартной метки также используются схожие по виду метки из расширенного набора. Иногда с помощью такой метки обозначают небронированную технику без тяжелого вооружения(Камаз, ГАЗ-66 и т.п.).</li>
            <li><b>Ромб с овалом</b> - метка на технику. Чаще всего применяется для обозначения любой техники вообще, но, на некоторых проектах данной меткой обозначают исключительно тяжелую технику, либо технику с тяжелым вооружением (М2, АГС, ЗУ).</li>
            <li><b>Восклицательным знаком</b> обозначают важную информацию, будь то новая частота ДВ, местоположение мины, попытка достучаться до отделений, не выходящих на ДВ и тому подобное.</li>
            <li><b>Вопросительным знаком</b>, соответственно, показывают неуверенность в чем-то либо, например, враг ли бежит по высоте, или же свои метки не ставят</li>
            <li><b>Метка высадки</b> (иногда с префиксом lz) обозначает место высадки, куда нужно отвезти отделение или СпН,или куда это самое отделение должно дойти своими ногами.</li>
        </ul>
        <img class="lazy thumbnail img-center" data-src="/media/map_tut/marks_types.jpg"/>
        
    </section>
    <p>
        И вот мы плавно подходим к тому, как же, собственно, найти себя в этом огромном и враждебном мире Армы, как поставить на себя правильную метку, как не теряться в трех соснах, как не тупить при просьбе поставить ту или иную метку.
    </p>

    <section>
        <h3>Ориентирование на местности</h3>
        <p>
            Для начала стоит усвоить одно простое правило — шанс, что вам заранее известна та малая площадь, в пределах которой вы находитесь, равен <b>95%</b>. Оценить окружение и сравнить его с картой на малой площади достаточно просто — там банально мало объектов, которые предстоит учесть.
        </p>
    </section>

    <section>
        <h4>Ваши действия в начале игры</h4>
        <p>
            Когда вы стартуете на брифинг, на карте следует отыскать полупрозрачный зеленый круг — это <b>граница фриза</b>. В пределах этого сектора находится ваше отделение, его ищете по номеру или по позывному КО. Далее, следите за брифингом и ищете <b>метки назначения</b> для <u>вашего</u> отделения, а если не можете
            найти — спрашиваете у командира или соотрядников. После фризтайма, когда вы начинаете движение в составе отделения, следите за меткой, которую ведет КО (метка на отделение или технику, если вы едете на чем-то). На технике со встроенным GPS вы сможете обнаружить на карте черное перекрестие, обозначающее ваше текущее положение. Так или иначе, вы получите примерное <b>расположение вашего отделения</b> и, соответственно, вас самих.
        </p>
        <p>Теперь самое время поставить точную метку на себя.</p>
    </section>

    <section>
    <h4>Что поможет поставить метку на себя</h4>
    <p>
        В городских условиях это сделать прощего всего — откройте карту и посмотрите, куда указывает <b>компас</b>, затем осмотрите местность и найдите <b>объекты</b>, которые вы видите перед собой, вроде церквей, заводов, заправок и вышек.
    </p>
    <img class="lazy thumbnail img-center" data-src="/media/map_tut/city.jpg">
    <p>
        Если вы по какой-то причине не понимаете, в каком вы городе, а расположение зданий вам ни о чем не говорит, как и метка на ваше отделение, то выяснить название города можно, например, вот так:
    </p>
    <img class="lazy thumbnail img-center" data-src="/media/map_tut/city_name.jpg">
    </section>

    <section>
    <h4>Не забывайте обновлять свою метку</h4>
    <p>
        Перемещаясь куда-либо, держите в уме ваше предыдущее положение и связывайте ваше движение с направлением компаса. Переместившись на новое место и решив обновить метку, осмотрите все вокруг на предмет ключевых объектов:
     ищите перекрестки, отдельно стоящие здания, мосты, соотнесите их взаиморасположение со своей позицией и, руководствуясь компасом, переместите метку мышью с нажатой <b>ЛКМ</b> (так же, как вы перемещаете ярлыки на рабочем столе).
    </p>
    <div class="two-imgs-div">
        <img class="lazy thumbnail one-of-two" data-src="/media/map_tut/city_new_position.jpg">
        <img class="lazy thumbnail one-of-two" data-src="/media/map_tut/city_new_position_map.jpg">
    </div>
    <p>
        Но самым точным способом определить ваше местоположение (помимо GPS) позволяет метод двух лучей.
    </p>
    </section>

    <section>
    <h3>Метод двух лучей</h3>
    <h4>Общий принцип</h4>
    <p>
        Суть метода заключается в том, чтобы начертить на карте <b>прямые линии</b>, пересекающие <b>ключевые объекты</b>, относительно которых вы ищете свое местоположение, и на перекрестии этих линий поставить на себя метку.
        Предположим, вы находитесь в некотором секторе и точное местоположение вас неизвестно, а рядом нет друзей и GPS.
    </p>
    <img class="lazy thumbnail img-center" data-src="/media/map_tut/approx_zone.jpg"/>
    <p>
        Осмотритесь вокруг и найдите ключевые объекты. Первым объектом, относительно которого удобно построить луч, в данном примере является замок (обозначен на карте). С помощью компаса поворачиваемся в нужную сторону и обнаруживаем замок, затем прицеливаемся в него компасом, чтобы направление взгляда было максимально точным.
    </p>
    <div class="two-imgs-div">
        <img class="lazy thumbnail one-of-two" data-src="/media/map_tut/look_2.jpg">
        
        <img class="lazy thumbnail one-of-two" data-src="/media/map_tut/first_line_look.jpg">
        
    </div>
    <p>
        После того, как вы прицелились, открываете карту и чертите линию вдоль линейки компаса так, чтобы она пересекала иконку замка. Чтобы начертить линию, нужно нажать <b>Ctrl+Alt+ЛКМ</b> и, не отпуская, вести в нужную сторону. Линия должна быть как можно длиннее.
    </p>
    <img class="lazy thumbnail img-center" data-src="/media/map_tut/first_line_ready.jpg">

    <p>
        Далее, находим второй ключевой объект (вышка) и проделываем все то же самое.
    </p>
    <div class="two-imgs-div">
        <img class="lazy thumbnail one-of-two" data-src="/media/map_tut/second_line_view.jpg">
        
        <img class="lazy thumbnail one-of-two" data-src="/media/map_tut/second_line_look.jpg">
        
    </div>
    <p>
        На получившемся перекрестии ставим метку — это и есть ваше точное местоположение. Точность можно увеличить, выбрав больше ключевых объектов и построив больше лучей.
    </p>
    <img class="lazy thumbnail img-center" data-src="/media/map_tut/second_line_ready.jpg">

    <h4>Если с объектами негусто</h4>
    <p>
        Ориентироваться в лесу или голых горах Такистана сложнее, чем в полях среди замков и деревень. К примеру, может случиться ситуация, что вы окажетесь вот в этом месте. И в нем тоже обязательно нужно уметь ориентироваться, правильно ставить на себя метку и не теряться.
    </p>
    <img class="lazy thumbnail img-center" data-src="/media/map_tut/forest.jpg">

    <p>
        В данном случае нам может помочь <b>компас</b> и <b>контурные линии</b> на карте. С помощью этих двух вещей и с помощью своих глаз можно определить, на каком склоне вы находитесь. Также в данном примере есть превосходный ориентир — линия ЛЭП. Ищем эту самую линию (провода и столбы) вокруг.
    </p>
    <div class="two-imgs-div">
        <img class="lazy thumbnail one-of-two" data-src="/media/map_tut/forest_find_points.jpg">
        
        <img class="lazy thumbnail one-of-two" data-src="/media/map_tut/forest_find_points2.jpg">
        
    </div>
    <img class="lazy thumbnail img-center" data-src="/media/map_tut/forest_keypoints.jpg"/>

    <p>
        Найдя ЛЭП, посмотрите с помощью компаса направление проводов, обращайте внимание на изменение этого самого направления. Так будет легче понять по карте, с какой стороны вы находитесь от ЛЭП.
    </p>
    <div class="two-imgs-div">
        <img class="lazy one-of-two thumbnail" data-src="/media/map_tut/good_point.jpg">
        
        <img class="lazy one-of-two thumbnail" data-src="/media/map_tut/electrical_lines_direction.jpg">
        
    </div>
    <p>
        Суммируя полученные данные, можно примерно поставить метку на себя. Стоит учитывать, что метки в подобных местах менее точны, и понадобится время, чтобы научиться их ставить поточнее. Совет один — практикуйтесь.
    </p>
    <img class="lazy thumbnail" data-src="/media/map_tut/forest_position.jpg">
    </section>

    <section>

        <h3>В качестве итога хотелось бы отметить следующее:</h3>
        <ul>
            <li>Не стесняйтесь пользоваться <b>GPS</b> при его наличии, а если его нет — поднимите с трупа врага\союзника. Облегчать себе жизнь — не зашквар.</li>
            <li>Если вы потерялись, нет ничего зазорного в том, чтобы <b>попросить помощи</b>. Не надо ломиться куда попало в поисках удобного ориентира.</li>
            <li>Вы должны сами <b>практиковаться регулярно</b> и повышать свой навык ориентирования. Находите удобный лично для вас способ, но ставьте метки правильно.</li>
            <li>На карте по краям есть цифры. Это <b>координаты</b> того или иного квадратика масштабной сетки. Если у вас есть GPS, то на карте именно эти цифры он и показывает. А еще эти цифры показывает курсор на карте. Сначала записывается координата по горизонтали, а затем — по вертикали.</li>
            <li>На некоторых миссиях <b>карты может и не быть</b>. Но обязательно должен быть компас. В этом случае метки на себя и врага уже не поставить. Но необходимость понимать, где вы и где ваши товарищи никуда не уходит.</li>
            <li>С помощью часов, солнца и биссектрисы можно ориентироваться и без компаса. Но в Арме, насколько я знаю, далеко не на всех проектах это реализовано, если реализовано вообще.</li>
            <li>Научитесь пользоваться линейкой (инструментами карты).</li>
        </ul>
    </section>
    <h3>Удачных игр без тимкиллов и потеряшек!</h3>
</main>
{% endblock %}


