{% extends 'windir/layout.html' %}
{% load static %}
{% block main %}
<main>
    <div class="modal"><img/></div>
	<script src="{% static 'windir/load_images-min.js' %}" defer></script>

	<div class="title-div">
	    <img class="lazy" data-src="/media/mods_art_header.jpg"/>
	    <div class="on-pic-text">
            <h1>Настройка модов</h1>
        </div>
	</div>
    <section>
        <p>Для начала хочу отметить, что самые точные инструкции для установки модов вы найдете на сайтах проектов, где играет отряд. 
            Скорее всего, информация там будет свежее, чем здесь. 
            Поэтому ниже оставлю ссылки на руководства проектов, на которых играет Windir.
            <ul>
                <p>SolidGames <a href="https://solidgames.ru/guide/resilio">Resilio Sync</a> | <a href="https://solidgames.ru/viewtopic.php?f=11&t=22">Arma 2 Manager/Yoma AddonSync 2009</a></p>
            </ul>
        </p>
        <p>Ниже будет руководство по установке модов с помощью проги 
            <span class="b">Resilio Sync</span>, 
        которой пользуется большинство в нашем отряде.</p>
    </section>

    <section>
        <h2>Resilio Sync</h2>

        <p>
            <span class="b i">Resilio Sync</span> 
            (ранее <span class="b i">BitTorrent Sync</span>) 
            — сервис для синхронизации файлов и резервного копирования по протоколу BitTorrent между произвольными устройствами. 
            Поддерживается компанией Resilio, Inc., выделенной из BitTorrent, Inc. 
        </p>
        <p>
            BitTorrent Sync был разработан для того, чтобы решить фундаментальные проблемы синхронизации данных: 
            ограничения на скорость, размер и пространство; ограничения на безопасность файла и зависимость от облачной инфраструктуры. 
            С BitTorrent Sync можно синхронизировать файлы любых размеров. Трансферы происходят в зашифрованном виде, 
            и информация не сохраняется на каком-либо сервере или в облаке. Ваше содержимое принадлежит 
            вам и остается на устройстве по вашему выбору. (<a href="https://ru.wikipedia.org/wiki/Resilio_Sync">wiki</a>)
        </p>
    </section>
    <section>
        <h4>Актуальные ключи</h4>

        <p>SolidGames - <span class="b">B7AQISCCIN5SMGBIBDQ6C27BJUID4YN2B</span></p>
        <p>
            <span class="attention">ВНИМАНИЕ!</span> 
            Если вы устанавливаете несколько сборок с помощью ресилио, 
            убедитесь, что каждая раздача сохраняется в <u>отдельную</u> папку!
        </p>
    </section>

    <section>
        <h4>Порядок действий</h4>
        <div class="step">
            <p class="fill">
                <span class="n">1.</span>
                Скачиваем Resilio Sync с <a href="https://www.resilio.com/individuals/">официального сайта</a> 
                (кнопка <b>Free Download</b>)
            </p>    
        </div>
        <hr>
        <div class="step">
            <p class>
                <span class="n">2.</span>
                Устанавливаем, запускаем и заходим в настройки программы — там нужно настроить идентификатор и имя устройства. 
                В них указываем ваш позывной на проектах.
            </p>
            <img class="lazy thumbnail" data-src="/media/resilio_setts_id.png"/>
            <img class="lazy thumbnail" data-src="/media/resilio_setts_name.png"/>
        </div>
        <hr>
        <div class="step">
            <p class="fill">
                <span class="n">3.</span>
                Далее добавляем раздачу с помощью ключа и выбираем папку, куда загрузить моды. 
                Если до этого скачивали моды другим способом, то появится соответствующее сообщение. 
                Тыкаем <span class="b">ОК</span>.
            </p>
            <img class="lazy thumbnail" data-src="/media/resilio_dir_selection.png"/>
            <img class="lazy thumbnail" data-src="/media/resilio_overwrite.png"/>
            <img class="lazy thumbnail" data-src="/media/resilio_new_entry.png"/>
            <img class="lazy thumbnail" data-src="/media/resilio_key_input.png"/>
        </div>
        <hr>
        <div class="step">
            <p>
                <span class="n">4.</span>
                После проделанных операций вы увидите новую добавленную раздачу.
            </p>
            <img class="lazy thumbnail" data-src="/media/resilio_entry.png"/>
        </div>
        <hr>
        <div class="step">
            <p>
                <span class="n">5.</span>
                И последнее — нужно настроить раздачу, чтобы обновлялась и не засоряла диск. 
                Правый клик на раздаче -> Настройки -> Поставить нужные галки, как на скриншоте.
            </p>
            <img class="lazy thumbnail" data-src="/media/resilio_entry_setts.png"/>
            <img class="lazy thumbnail" data-src="/media/resilio_entry_required.png"/>
        </div>
        <hr>
        <div class="step">
                    <p class="fill">Это все. Теперь ресилио будет автоматически обновлять моды и раздавать другим на максимальной скорости. 
            Включайте периодически, чтобы быть синхронизированными и помогать другим.</p>
        </div>
    </section>
</main>
{% endblock %}

