
{% extends 'windir/layout.html' %}
{% load static %}
{% block main %}
<main>
    <section>
        <h1>Рекомендации по использованию рации</h1>
        <p>
            В данном руководстве описаны основные принципы использования КВ и ДВ рации на играх, где используется рация TFAR. 
            Основные клавиши управления, типы раций и чем они различаются вы можете узнать на 
            <a href="http://radio.task-force.ru">сайте разработчика</a>. 
            Если вы новичок, то настоятельно рекомендуем сперва ознакомиться с приведенной выше ссылкой 
            и изучить возможности плагина рации, а уже потом приступать к чтению данной статьи.
        </p>
    </section>
    
    <section>
        <h2>Основные положения</h2>
        <p>
        <ol>
            <li>Предпочитайте передачу голосом передаче по КВ.</li>
            <li>В небоевой обстановке переключайте громкость голоса на “Норма”, в боевой — на “Шепот”.</li>
            <li>Не шепчите в микрофон, особенно в КВ. Это не делает звук тише, но при этом сильно бесит.</li>
            <li>Интерфейс КВ\ДВ можно открыть на карте на случай, если вы не можете запомнить 3 цифры. Лучше открыть рацию на карте, чем два раза открыть и закрыть карту.</li>
            <li>По команде “сдвиг” или “резерв” не нужно трясущимися руками вытаскивать КВ и менять частоту — для начала удостоверьтесь, что вас не убьют через пару секунд.</li>
            <li>Если вы не можете ответить в КВ (враг рядом или рот, полный пищи или чего-нибудь другого), применяется двойной щелчок тангентой.</li>
        <li>Если у вас проблемы, это не означает, что вы можете лежать в елках и тупить. Когда вы даете понять, что не можете отвечать, КО будет задавать наводящие вопросы, требующие ответа ДА или НЕТ. Ответ ДА — два щелчка​ тангентой, ответ НЕТ — ​три щелчка​.</li>
        <li>Указанные в данной статье временные промежутки воспринимайте серьезно и реалистично. Не стоит задавать вопросы вида “а обязательно 0.5 секунды? А можно 0.55? А если выйдет 0.45?”</li>
        <li>Обязательно уметь пользоваться дополнительным каналом раций.</li>
        <li>Никогда не выставлять будущие сдвиги на другие каналы рации.</li>
        <li>Если вас плохо слышат из-за расстояния или рельефа — пишите на карте, а не повторяйте одно и то же сто раз. Если у вас законченное сообщение или же карты нет, можете попросить продублировать того, кто вас слышит.</li>
        <li>Если вы не знаете, на каком сдвиге ваше отделение, то путь один — прощелкать следующие максимум 3 сдвига, задерживаясь на каждой частоте на 10-15 cекунд, затем проверить резервную частоту. Если ответа нет, написать на карте рядом с вашей меткой и\или с меткой КО. Если результата нет, выйти на частоту ДВ и удостовериться, что отделение живо. Если ответа нет, выяснить по карте ближайшее к вам отделение, выйти на их частоту и перегруппироваться.</li>
        <li>Если вы остались в отделении один, то: 1) связаться со штабом, 2) если штаб не отвечает — с ближайшим отделением 3) если не выходит выйти на связь, то смотрите описание задачи и идете выполнять (зачастую надо идти в триггер).</li>
        </ol>
        </p>
    </section>
    
    <section>
        <h2>Порядок приема радиосообщения</h2>
        <p>
        <ol>
            <li>Удостоверьтесь, что передача адресована именно вам.</li>
            <li>Удостоверьтесь, что остальные закончили свою радиопередачу.</li>
            <li>Прожуйте.</li>
            <li>Сглотните слюну и все остальное, прокашляйтесь, если требуется.</li>
            <li>Между окончанием приема сообщения и началом передачи вашего должно пройти минимум 0.5-1 сек.</li>
            <li>Вынув всевозможные члены изо рта, вставив зубы и артикулируя каждый слог, четко и бегло ответьте на обращение, задержав клавишу тангенты на полсекунды в конце передачи.</li>
            <li>Не вклинивайтесь в передачу, если обращение поступило другому участнику отделения.</li>
            <li>Если во время вашего ответа кто-то вклинился в передачу, задержитесь на секунду, а затем продолжите передачу.</li>
            <li>Если вас вызывают по позывному без информативного вопроса, то предпочитайте ответ “Ответил” или “*Ваш_позывной*, ответил” вместо “А?”, “Да” и “Че?”.</li>
            <li>Избегайте перегруженности речи, слов-паразитов и разного рода блеяния и
            мычания. Радиопереговоры должны быть максимально информативными и короткими. Это особенно актуально во время боевых действий. Для всего остального есть голос.</li>
        </ol>
        </p>
    </section>
    
    <section>
        <h2>Порядок передачи радиосообщения</h2>
        <p>
        <ol>
            <li>Удостоверьтесь, что ваше сообщение действительно должно быть передано по КВ, а не голосом или на карте.</li>
            <li>Дождитесь окончания текущей передачи и выждите 0.5-1 дополнительную секунду.</li>
            <li>Прожуйте, сглотните, избавьтесь от посторонних предметов во рту.</li>
            <li>Прокашляйтесь и приведите голос в порядок.</li>
            <li>Передайте ваше обращение, обязательно включив позывной в начале сообщения того, кому это обращение адресовано (если таковой имеется).</li>
            <li>Задержите клавишу тангенты на 0.5 секунды после окончания сообщения.</li>
            <li>Если так вышло, что вы вклинились в чужую передачу, немедленно отпустите тангенту. Одновременные передачи по рации очень сильно бесят.</li>
        </ol>
        </p>
    </section>
</main>
{% endblock %}
