{% extends 'windir/layout.html' %}
{% load static %}
{% block main %}
<!--- <script src="https://www.google.com/recaptcha/api.js?hl=ru" async defer></script>
<script type="text/javascript">
function captchaAnswer(token)
{
    document.getElementById("register-submit").disabled = false;
    let hidden = document.createElement("input");
    hidden.setAttribute("type", "hidden");
    hidden.setAttribute("id", "token");
    hidden.setAttribute("name", "token");
    hidden.setAttribute("value", token);
    document.getElementById("register-form").appendChild(hidden);
    document.getElementById("warning").style = "text-align: center; display: inherit;"
}
</script>--->
<main>
    <h1>Заявка на вступление в отряд</h1>
    <form id="register-form" autocomplete="off">
        <p class="error-msg"></p>
        {% csrf_token %}
        <div>
            <label for="username">Позывной</label>
            <input class="input" type="text" id="username" name="username" maxlength="15" oninput="check_login_format()" required>
            <span class="form-error"></span>
        </div>
        <div>
            <label for="reg-password">Пароль</label>
            <input class="input" type="password" id="reg-password" name="password1" required>
        </div>
        <div>
            <label for="confirm">Подтверждение пароля</label>
            <input class="input" type="password" id="confirm" name="password2" 
            onfocusout="check_confirm('reg-password', 'confirm')" 
            oninput="check_confirm('reg-password', 'confirm')">
            <span class="form-error"></span>
        </div>
        <hr class="hr">
        <div id="dob">
            <label for="birth-day">Дата рождения</label>
            <input class="input" name="dob" type="date" lang="ru" required>
            <span class="form-error"></span>
        </div>
        <div id="row-telegram">
            <label for="telegram">Есть в Telegram</label>
            <label class="switch">
                <input type="checkbox" id="telegram" name="telegram" 
                onclick="switchContact()">
                <span class="slider"></span>
            </label>
        </div>
        <div>
            <label for="contact" id="contact-label">Электронная почта</label>
            <input class="input" type="email" id="contact" maxlength="30" name="contact" required>
            <span class="form-error"></span>
        </div>
        <div>
            <label for="UTC">Часовой пояс</label>
            <select class="input" id="UTC" name="UTC">
                <option disabled selected></option>
                <option value="0">0 (Западная Европа)</option>
                <option value="1">+1 (Центральная Европа)</option>
                <option value="2">+2 (Восточная Европа)</option>
                <option value="3">+3 (Москва) </option>
                <option value="4">+4 (Самара, Волгоград)</option>
                <option value="5">+5 (Екатеринбург)</option>
                <option value="6">+6 (Омск, Астана)</option>
                <option value="7">+7 (Новосибирск)</option>
                <option value="8">+8 (Иркутск)</option>
                <option value="9">+9 (Якутск)</option>
                <option value="10">+10 (Владивосток)</option>
                <option value="11">+11 (Магадан)</option>
                <option value="12">+12 (Камчатка)</option>
                <option value="-1">-1 (Кабо Верде)</option>
                <option value="-2">-2 (острова Бразилии)</option>
                <option value="-3">-3 (Бразилия, Аргентина)</option>
                <option value="-4">-4 (Венесуэла, Чили)</option>
                <option value="-5">-5 (Нью-Йорк, Торонто)</option>
                <option value="-6">-6 (Чикаго, Мексика)</option>
                <option value="-7">-7 (Денвер, Фарго)</option>
                <option value="-8">-8 (Лос-Анджелес)</option>
                <option value="-9">-9 (Аляска)</option>
                <option value="-10">-10 (Гавайи)</option>
            </select>
        </div>
        <hr>
        <div>
            <label for="hours">Количество наигранных часов</label>
            <input class="input" type="number" id="hours" name="hours" required>
            <span class="form-error"></span>
        </div>
        <div id="role-list">
            <label>Предпочитаемая специализация</label>
            <div class="checks">
                {% for spec in specs %}
                <label>
                    <input type="checkbox" name="spec" value="{{ spec.id }}">
                    {{ spec.name }}
                </label>
                {% endfor %}
            </div>
        </div>
        <div>
            <label>Проекты, на которых вы играли</label>
            <div class="checks">
                {% for proj in projects %}
                <label>
                    <input type="checkbox" name="project" value="{{ proj.id }}">
                    {{ proj.name }}
                </label>
                {% endfor %}
                <label>
                    <input type="checkbox" name="project-other" onclick="showOtherProjects()">
                    Другое
                </label>
                <input class="other-proj none" type="text" name="other" placeholder="Перечислите другие">
            </div>
        </div>
        <div>
            <label for="teams">Отряды, в которых вы состояли</label>
            <input class="input" type="text" class="register-input" id="teams" name="teams">
        </div>
        <center><div class="g-recaptcha" data-sitekey="6LcJLdsUAAAAAAUMB6spZRi_bosNh9t5bZFa_mNZ" data-callback="captchaAnswer"></div></center>
        
        <button type="button" onclick="register()">Отправить заявку</button>
        <p class="sm c">
            Нажимая "Отправить", вы подтверждаете, что ознакомились с 
            <a href="/about">информацией об отряде и его правилами</a>
        </p>
    </form>
</main>
{% endblock %}