{% extends 'windir/layout.html' %}
{% load static %}
{% block main %}
<main>
    <div class="modal"><img/></div>
	<script src="{% static 'windir/load_images.js' %}" async defer></script>

    <div class="title-div">
        <img class="lazy" data-src="/media/lessons.jpg"/>
        <div class="on-pic-text">
            <h1>Программа-минимум</h1>
        </div>
    </div>

    <section>
        <hr>
        <article class="skill">
            <div><h4>Не ронять гранаты под ноги себе и товарищам</h4>
            <p>В настройках управления сменить бросок гранаты с G на GG, то есть <span class="b">двойное G</span>. 
                Это первое, что ты должен сделать.</p></div>
            <img class="lazy" data-src="/media/monkey.jpg"/>
        </article>

        <hr>

        <article class="skill">
            <div><h4>Определять азимут</h4>
            <p>
                Открываешь компас (Клавиша "К"), смотришь на градус, 
                на который указывает стрелка (один из 360). Это и есть азимут.
            </p></div>
            <img class="lazy" data-src="/media/azimut.png"/>
        </article>

        <hr>

        <article class="skill">
            <div><h4>Уметь пользоваться картой</h4>
            <p>Определять свое местоположение на карте, ставить метку на себя, на врага, на объект, на кролика. 
                Различать типы и цвета меток, знать, для чего они предназначены.
                Можно изучить наш <a href="{% url 'windir:page' 'map_tutorial' %}">гайд</a> по использованию карты.
            </p></div>
            <img class="lazy" data-src="/media/map.gif"/>
        </article>

        <hr>

        <article class="skill">
            <div><h4>Использовать меню взаимодействия ACE</h4>
            <p>
                Взаимодействие с собой: Ctrl+Windows, со всем остальным: Windows или колесико мышки (Ванильное меню). 
                Выход из меню взаимодействия — правая кнопка мыши. 
                Если тебя попросили сделать что-то необычное и ты не понимаешь как это делается 
                — скорее всего, делается это через кнопки взаимодействия :) 
                Например: перепаковать магазины, одеть беруши, перенести, выгрузить/загузить, 
                отремонтировать, раскрыть парашют и т.п.
            </p></div>
            <img class="lazy" data-src="/media/ace_menu.png" />
        </article>

        <hr>

        <article class="skill">
            <div><h4>Перезапускать плагин TaskForceRadio в Teamspeak и понимать, когда это нужно делать</h4>
            <p>Инструменты -> Параметры -> Аддоны -> «Загрузить заново» на нужном плагине. </p>
            <p>К примеру, если ты в игре, но в Тимспике тебя по какой-то причине не перекинуло в канал TaskForceRadio. 
                После перезагрузки плагина тебя должно автоматически вернуть в канал ТаскФорса.</p></div>
            <img class="lazy" data-src="/media/tfar_reload.png"/>
        </article>

        <hr>

        <article class="skill">
            <div><h4>Прицельно бросать гранаты</h4>
            <p>Shift+G, появляется траектория броска. Наводим, бросаем.</p></div>
            <img class="lazy" data-src="/media/aimed_grenade.jpg"/>
        </article>

        <hr>

        <article class="skill">
            <div><h4>Указывать пальцем</h4>
            <p>По умолчанию shift+Ё (~). Куда ты показал пальцем увидят те, кто не дальше полутора-двух метров от тебя.</p></div>
            <img class="lazy" data-src="/media/pointing.png" />
        </article>

        <hr>

        <article class="skill">
            <div><h4>Менять прицельную дальность на оружии</h4>
            <p>По умолчанию page up/ page down или Ctrl + Скролл мыши. 
                Дальность отображается в левом верхнем углу рядом с режимом огня.</p></div>
            <img class="lazy" data-src="/media/distance.png" />
        </article>

        <hr>

        <article class="skill">
            <div><h4>Определять вес снаряжения и понимать, на что это влияет</h4>
            <p>Указан в килограммах в инвентаре. 
                Чем больше вес, тем быстрее выдыхаешься, меньше бегаешь, сильнее трясет прицел. 
                Вплоть до того, что передвигаться можешь только пешком. 
                Прям как в жизни, офигеть.
            </p></div>
            <img class="lazy" data-src="/media/weight.jpg" />
        </article>

        <hr>

        <article class="skill">
            <div><h4>Исправлять заклинивание оружия</h4>
            <p>По умолчанию Shift+R.</p></div>
            <img class="lazy" data-src="/media/failure.jpg" />
        </article>

        <hr>

        <article class="skill">
            <div><h4>Не умирать и не убивать товарищей при использовании гранатометов</h4>
            <p>У граника сзади реактивный выхлоп. 
                Тех, кто во время выстрела стоит сзади или сбоку, калечит или убивает. 
                Если стреляешь, стоя спиной к стене, то выхлоп отражается и калечит или убивает тебя. 
                Сам виноват.
            </p></div>
            <img class="lazy" data-src="/media/rpg.png" />
        </article>

        <hr>

        <article class="skill">    
            <div><h4>Понимать разницу видов снарядов для РПГ-7</h4>
            <p>Можно почитать Вики или наш <a href="{% url 'windir:page' 'rocket_launcher_guide' %}">гайд</a></p></div>
            <img class="lazy" data-src="/media/rpg_shots.jpg" />
        </article>

        <hr>

        <article class="skill">    
            <div><h4>Уметь пользоваться КВ и ДВ рацией</h4>
            <p>
                Клавиши по умолчанию:
                <ul class="minimum-p">
                    <li>говорить в КВ рацию — Caps Lock</li>
                    <li>открыть интерфейс КВ рации — Ctrl+P</li>
                    <li>говорить в ДВ рацию — Ctrl+Caps Lock</li>
                    <li>интерфейс — Alt+P</li>
                    <li>менять канал КВ рации — цифра на NumPad</li>
                    <li>ДВ рации — Ctrl + цифра на NumPad</li>
                </ul>
                В командирской КВ рации и в любой ДВ рации есть функция <span class="b">дополнительного канала</span>, 
                чтобы можно было слушать одновременно два канала. 
                Переключаетешься на другой канал, нажимаешь кнопку "Доп.Канал" 
                (канал меняется с С2 на А2, к примеру) и — опционально — меняешь частоту. 
                Затем переключаешься обратно на основной канал и вуаля — слышишь оба канала. 
                Клавиша "Т" — говорить в дополнительный канал.
            </p></div>
            <img class="lazy" data-src="/media/radio.png" />
        </article>

        <hr>

        <article class="skill">
            <div><h4>Понимать, как узнать частоту основного и резервных радиоканалов</h4>
            <p>
                Карта -> Инструктаж -> Частоты -> Ищешь свой отряд, там и указаны частоты. 
                Если такого нет, то ищешь на карте с краю, прописанные вручную. Если нет и там — спроси КО.
            </p></div>
            <img class="lazy" data-src="/media/frequencies.jpg" />
        </article>

        <hr>

        <article class="skill">
            <div><h4>Говорить без рации голосом разной громкости (шепот, норма, крик) и понимать, на что это влияет</h4>
            <p>
                Регулировать громкость голоса по умолчанию — Ctrl+TAB. 
                Чем громче голос, тем больше расстояние, на котором тебя всем слышно. 
                Не влияет на дальность работы раций. 
                Если в игре у всех рации, то желательно пользоваться шепотом, потому что, говоря по рации, 
                ты также говоришь и голосом (внезапно).
            </p></div>
            <img class="lazy" data-src="/media/voice.png" />
        </article>

        <hr>

        <article class="skill">
            <div><h4>Понимать общие принципы оказания мед.помощи</h4>
            <p>Читать официальную документацию ACE3 Medicine или наш <a href="{% url 'windir:page' 'medicine_guide' %}">гайд</a></p></div>
            <img class="lazy" data-src="/media/medicine.jpg" />
        </article>
    </section>
</main>
{% endblock %}
